.alert {
  font-size: .9rem;
  margin: 0 0 1rem 0;
  border-radius: 8px;
}

.alert.success {
  padding: .7rem;
  background: #D4EDDA;
  color: #15575C !important;
  border: 1px solid #C3E6CB;
}

.alert.error {
  padding: .7rem;
  background: #F8D7DA;
  color: #721c29 !important;
  border: 1px solid #F5C6CB;
}
