&.project-content
    padding: 30px 0
    img
        width: 100%
        height: auto
    .container
        .project-header
            margin: 35px 0
        section
            margin: 70px 0
            line-height: 30px
            h2
                margin-bottom: 25px
            .btns
                margin-top: 20px
                display: flex
                justify-content: center
                align-items: center
                a
                    margin: 0 30px
            .showcase
                display: flex
                flex-wrap: wrap
                justify-content: center
                margin: 0
                article
                    margin: 10px 25px
                    display: flex
                    align-items: center
                    .icon
                        margin-right: 15px
                        font-weight: 100
            &.gallery
                .showcase
                    column-count: 2
                    // margin-bottom: 2em
                    column-gap: 2em
                    article
                        // width: 40%
                        width: 100%
                        // min-width: 250px
                        margin: 10px

@media screen and ( max-width: 768px )
    .projects-content.project-container
        .container
            width: 90% !important
            .showcase
                display: flex
