.admin-content .main-content .container aside {
  float: left;
  width: 300px;
}

.admin-content .main-content .container aside ul {
  display: flex;
  flex-direction: column;
}

.admin-content footer {
  clear: both;
}
