.blog-content .main-content {
  padding-top: 100px;
}

.blog-content .main-content .container {
  width: 60% !important;
  max-width: 800px !important;
}

.blog-content .main-content .container header.blog-header {
  width: 100%;
  height: 40px;
  background: red;
}
