.contact-page .main-content .container {
  display: flex;
  flex-direction: column;
}

.contact-page .main-content .container span.span {
  order: 2;
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin: 30px 0;
}

.contact-page .main-content .container .form {
  order: 1;
}

.contact-page .main-content .container .details {
  order: 3;
}
