.projects-content nav {
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
  background: red;
  height: 50px;
  border-radius: 25px;
}

.projects-content nav ul {
  display: flex;
  justify-content: center;
}

.projects-content nav ul li {
  padding: 7px 10px;
  margin: 5px;
  border-radius: 25px;
}
