.resume
    &.main-content
        header.primary-header
            text-align: center
        .row
            display: flex
            flex-wrap: wrap
        .resume-template
            box-shadow: 4px 4px 15px 7px rgba(0, 0, 0, .05)
            margin: 20px 0
            width: 100%
            padding: 20px 0
            transition: .35s
            article
                padding: 20px
        @import "../pages-components/resume/_skills"
        @import "../pages-components/resume/_experience"
        @import "../pages-components/resume/_education"

@media screen and ( min-width: 992px )
    .resume
        &.main-content
            .row
                flex-wrap: nowrap
                .resume-template
                    margin-right: 20px
                    height: 100%
                    &:nth-child(2)
                        margin-right: 0
                        margin-left: 20px
                        