.posts-container .container {
  width: 80%;
  max-width: 1200px;
}

.posts-container .container header.blog-header {
  width: 70%;
}

.posts-container .container .divide {
  display: flex;
  margin-top: -50px;
}

.posts-container .container .divide .posts {
  padding-top: 80px;
  width: 70%;
  text-align: left;
}

.posts-container .container .divide .posts .showcase {
  display: flex;
  flex-direction: column;
}

.posts-container .container .divide .posts .showcase article {
  margin-bottom: 50px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.posts-container .container .divide .posts .showcase article h1 {
  margin-bottom: 10px;
  font-size: 24px;
}

.posts-container .container .divide .posts .showcase article p {
  margin-bottom: 20px;
  font-size: 18px;
}

.posts-container .container .divide .categories {
  width: 30%;
}

.posts-container .container .divide .categories li {
  list-style: none;
}
