.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  z-index: 200000000;
}

.modal .backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  z-index: 20;
}

.modal .close {
  left: 1rem;
  top: 1rem;
}

.modal .modal__container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;
}

.modal .modal__container .span {
  background: #3E4C51;
  color: white;
  position: absolute;
  z-index: 23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.modal .modal__container .img__container {
  position: relative;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
}

.modal .modal__container .img__container .item {
  width: calc( 100% - 300px);
  -webkit-transition: width .25s ease-in-out, height .25s ease-in-out;
  transition: width .25s ease-in-out, height .25s ease-in-out;
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal__container .img__container .item.wide {
  width: 100%;
}

.modal .modal__container .img__container .item .images {
  pointer-events: none;
}

.modal .modal__container .img__container .item .image__showcase {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  z-index: 22;
  position: relative;
}

.modal .modal__container .img__container .item .image__showcase article {
  width: 100%;
  pointer-events: none;
}

.modal .modal__container .img__container .item .image__showcase article img {
  pointer-events: all;
}

.modal .modal__container .img__container .prev {
  left: 3%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
}

.modal .modal__container .img__container .next {
  width: 40px;
  height: 40px;
  right: 3%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal .modal__container .img__container img {
  height: auto;
  max-height: 100vh;
  width: auto;
  max-width: 95%;
  margin: auto;
  z-index: 21;
  position: relative;
}

.modal .modal__container .img__container .details {
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
  width: 300px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  overflow: hidden;
  background: white;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 21;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.modal .modal__container .img__container .details p {
  text-align: center;
  margin-top: 1rem;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.modal .modal__container .img__container .details a {
  color: #00A3E1;
  text-decoration: underline;
}

.modal .modal__container .img__container .details a:hover {
  text-decoration: none;
}

.modal .modal__container .img__container .details.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.modal.dark .img__container .details {
  background: #1D2122;
  color: white;
}

@media screen and (max-width: 992px) {
  .modal .modal__container .img__container .item {
    width: calc( 100% - 200px);
  }
  .modal .modal__container .img__container .details {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .modal .modal__container .img__container .item {
    width: 100%;
    height: 60vh;
  }
  .modal .modal__container .img__container .item.wide {
    height: 100vh;
  }
  .modal .modal__container .img__container .details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    height: 40vh;
    width: 100%;
    z-index: 24;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    overflow-y: auto;
  }
  .modal .modal__container .img__container .details.open {
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .modal .modal__container .img__container .details p {
    display: none;
  }
}
/*# sourceMappingURL=modal.module.css.map */