@import "../../styles/_variable"

.modal
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    max-height: 100vh
    overflow: hidden
    z-index: 20
    .backdrop
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100vh
        background: rgba(0, 0, 0, .85)
        cursor: pointer
        z-index: 20
    .close
        left: 1rem
        top: 1rem
    .modal__container
        position: relative
        overflow: hidden
        height: 100vh
        max-height: 100vh
        width: 100%
        max-width: 100vw
        .span
            background: $lighter-dark
            color: white
            position: absolute
            z-index: 23
            display: flex
            justify-content: center
            align-items: center
            height: 30px
            width: 30px
            border-radius: 50%
            cursor: pointer
        .img__container
            position: relative
            max-width: 100vw
            width: 100vw
            height: 100vh
            .item
                width: calc( 100% - 300px )
                transition: width .25s ease-in-out, height .25s ease-in-out
                text-align: center
                height: 100vh
                max-height: 100vh
                position: relative
                display: flex
                justify-content: center
                align-items: center
                &.wide
                    width: 100%
                .images
                    pointer-events: none
                .image__showcase
                    pointer-events: none
                    display: flex
                    justify-content: flex-start
                    align-items: center
                    transition: transform .2s linear
                    z-index: 22
                    position: relative
                    article
                        width: 100%
                        pointer-events: none
                        img
                            pointer-events: all
            .prev
                left: 3%
                top: 50%
                transform: translateY(-50%)
                width: 40px
                height: 40px
            .next
                width: 40px
                height: 40px
                right: 3%
                top: 50%
                transform: translateY(-50%)
            img
                height: auto
                max-height: 100vh
                width: auto
                max-width: 95%
                margin: auto
                z-index: 21
                position: relative
            .details
                transition: transform .25s ease-in-out
                width: 300px
                transform: translateX(100%)
                overflow: hidden
                background: white
                height: 100vh
                position: absolute
                right: 0
                top: 0
                z-index: 21
                color: black
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                padding: 1rem
                p
                    text-align: center
                    margin-top: 1rem
                    -webkit-box-orient: vertical
                    display: -webkit-box
                    -webkit-line-clamp: 2
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: pre-line
                a
                    color: $primary
                    text-decoration: underline
                    &:hover
                        text-decoration: none
                &.open
                    transform: translateX(0)
    &.dark
        .img__container
            .details
                background: $dark
                color: white

@media screen and ( max-width: 992px )
    .modal
        .modal__container
            .img__container
                .item
                    width: calc( 100% - 200px )
                .details
                    width: 200px

@media screen and ( max-width: 768px )
    .modal
        .modal__container
            .img__container
                .item
                    width: 100%
                    height: 60vh
                    &.wide
                        height: 100vh
                .details
                    position: absolute
                    bottom: 0
                    left: 0
                    right: 0
                    top: auto
                    height: 40vh
                    width: 100%
                    z-index: 24
                    transform: translateX(0)
                    transform: translateY(100%)
                    overflow-y: auto
                    &.open
                        width: 100%
                        transform: translateY(0)
                    p
                        display: none
