.hobbies
    background: $dark
    color: $white
    text-align: center
    .icon
        color: $primary
    .container
        padding: 30px 0
        header
            margin-bottom: 20px
            .showcase
                display: flex
                