.steps {
  padding: 30px 0;
}

.steps .container header {
  margin: 7px 0;
}

.steps .container .showcase {
  display: flex;
  flex-direction: column;
}

.steps .container .showcase .col .row {
  margin: 20px 0;
}

.steps .container .showcase .col .row h4 {
  margin-bottom: 10px;
}

.steps .container .showcase .col .row h3 {
  margin-bottom: 15px;
}

.steps .container .showcase .col .row:nth-child(odd) {
  text-align: right;
}
