.steps {
  margin-top: 100px;
}

.steps .container {
  padding: 50px 20px;
  transition: .2s;
}

.steps .container:hover {
  transform: translateY(-10px);
}

.steps .container header h1 {
  position: relative;
  padding: 5px 30px;
  font-weight: normal;
}

.steps .container header h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
}

.steps .container .showcase {
  position: relative;
  padding: 70px 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  font-family: 'Raleway', sans-serif;
}

.steps .container .showcase .col1 {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.steps .container .showcase .col1 .row {
  margin: 30px 0;
  height: 200px;
}

.steps .container .showcase .col1 .row h4 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.steps .container .showcase .col1 .row h3 {
  font-weight: 700;
  margin-bottom: 15px;
}

.steps .container .showcase .col1 .row p {
  font-size: .95rem;
  line-height: 1.5rem;
  display: flex;
  align-items: flex-start;
  height: 50px;
}

.steps .container .showcase .col3 {
  text-align: left;
}

.steps .container .showcase .col-reasons__col.col2 {
  padding: 0 40px;
}

.steps .container .showcase .col-reasons__col.col2 .circle {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps .container .showcase .col-reasons__col.col2 .circle::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

@media screen and (max-width: 1080px) {
  .how .container {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .how .container {
    width: 80%;
  }
  .how .container header {
    margin-bottom: 50px;
  }
  .how .container .col-reasons {
    grid-template-columns: 1fr 0fr 1fr;
    grid-column-gap: 30px;
    position: relative;
    padding: 30px 0;
    height: 100%;
  }
  .how .container .col-reasons::before, .how .container .col-reasons::after {
    content: "";
    position: absolute;
  }
  .how .container .col-reasons::before {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
  }
  .how .container .col-reasons::after {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 1px;
  }
  .how .container .col-reasons .col1 .row {
    margin: 20px 0;
  }
  .how .container .col-reasons .col-reasons__col.col2 {
    padding: 0;
  }
  .how .container .col-reasons .col-reasons__col.col2 .circle {
    display: none;
    padding: 0;
  }
  .how .container .col-reasons .col-reasons__col.col2 .circle::before {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .how .container {
    width: 90%;
  }
}

@media screen and (max-width: 635px) {
  .how .container {
    width: 90%;
  }
  .how .container header {
    margin-bottom: 20px;
  }
  .how .container .col-reasons {
    display: flex;
    flex-direction: column;
    padding: 0px 0;
  }
  .how .container .col-reasons::before {
    display: none;
  }
  .how .container .col-reasons::after {
    display: none;
  }
  .how .container .col-reasons .col1 .row {
    height: 100%;
  }
  .how .container .col-reasons .col1 .row p {
    height: 100%;
  }
  .how .container .col-reasons .col1 .row-one {
    text-align: right;
    padding-right: 20px;
  }
  .how .container .col-reasons .col1 .row-two {
    text-align: left;
    padding-left: 20px;
  }
}
