.banner
    min-height: calc( 100vh - 70px )
    display: flex
    position: relative
    .main-content
        background: $darker
        z-index: 5
        position: absolute
        top: 50%
        width: 100%
        transform: translateY(-50%)
        min-height: calc( 70vh - 50px ) 
        display: flex
        align-items: flex-start
        flex-direction: column
        justify-content: center
        color: $white
        .container
            height: 100%
            width: 100%
            padding: 30px 30px 30px 80px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-start
    .hero-bg
        overflow-x: hidden
        position: absolute
        right: 0
        top: 0
        width: 40%
        height: calc( 100% - 50px )
        img
            height: 100%
