@import "../_variable"
  
* 
  margin: 0
  padding: 0
  box-sizing: border-box

body
    overflow-x: hidden
    width: 100vw 
    height: 100vh
    position: relative

body.no-scrolling
    overflow: hidden
    
body, html
    scroll-behavior: smooth
    position: relative
    background: $dark

a
    text-decoration: none

li
    list-style: none

//focus
input:focus, select:focus, textarea:focus, button:focus
    outline: none !important

button
    border: none
    background: none

.App
    background: $white
    color: $black
    transition: all .4s
    font-family: 'Saira Semi Condensed', sans-serif

.App.darkmode
    background: $dark
    color: $white

.btn-primary
    position: relative
    overflow: hidden
    border-radius: 7px
    height: 40px
    width: 150px
    padding: 0 10px
    text-transform: capitalize
    display: inline-flex
    justify-content: center
    align-items: center
    background: $light-dark
    color: $white
    transition: .3s ease-in-out
    span
        z-index: 2
        letter-spacing: 1px
    &::before, &::after
        content: ""
        position: absolute
        left: 0
        transition: .3s ease-in-out
    &::before
        background: $lighter-dark
        top: 0
        height: 100%
        width: 30%
        border-radius: 7px
    &::after
        background: $primary
        left: 10%
        width: 80%
        height: 3px
        bottom: 7px
    &:hover
        border-radius: 0
    &:hover::before
        width: 100%
        border-radius: 0
    &:hover::after
        left: 0
        top: 0
        bottom: 0
        height: 3px
        width: 40px
        transform: rotate(90deg) translate(20px, 19px)

.primary-header
    font-size: 24px
    position: relative
    padding: 0 0 25px
    margin: 15px 0
    display: inline-block
    span
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        height: 15px
        width: 15px
        border: 2px solid $primary
        border-radius: 50%
    &::before, &::after
        content: ""
        position: absolute
        bottom: 6.5px
        height: 2px
        width: 40px
        background: $primary
    &::before
        left: calc( 50% - 60px )
    &::after
        right: calc( 50% - 60px )


.tertiary-header
    color: $darker
    position: relative
    display: flex
    padding: 20px 0
    div
        width: 20px
        height: 40px
        background-color: #C6E0EA
        position: relative 
        top: 3px
    span.span
        width: 7px
        height: 40px
        background-color: #60828F
        display: block
        transform: skewY(-30deg)
        position: relative 
        top: 1.5px
    span.title
        padding: 0 20px
        background: #C6E0EA
        display: flex
        justify-content: flex-start
        align-items: center
        width: calc( 100% - 27px )
        max-width: 320px

.container
    width: 95%
    margin: auto
    text-align: center

main.main-content
    padding-top: 80px
    min-height: calc( 100vh - 50px )

.social-media-container
    position: fixed
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .25)
    left: 0
    bottom: 0
    min-height: 50vh
    z-index: 18
    width: 40px
    display: flex
    justify-content: center
    align-items: center
    background: $darker
    ul
        display: flex
        flex-direction: column
        li
            margin: 10px 0
            a
                color: $white
                font-size: 14px
                &:hover
                    color: $primary

.home-page
    footer
        position: absolute
        bottom: 0px

footer
    height: 50px
    width: 100%
    .container
        height: 100%
        display: flex
        justify-content: flex-end
        align-items: center
// .steps
//     font-family: 'Raleway', sans-serif

//for now
img
    width: 100%
    height: auto

form
    width: 100%
    .field-group
        text-align: left
        margin-bottom: 25px
        label
            display: block
            color: $dark
            margin-bottom: 5px
        input, textarea
            background: none
            width: 100%
            height: 35px
            outline: 1px solid #c6e0ea
            border: none
            padding: 7px 10px
            transition: .15s
            resize: none
            &:focus
                outline: 2px solid $primary !important
            &::placeholder
                color: #7b9daa
        textarea
            height: 70px
            font-size: 1.1em

@media screen and ( min-width: 480px )
    .container
        width: 90%

@media screen and ( min-width: 768px )
    .container
        width: 85%
    main.main-content
        .container
            width: 80%
    footer
        .container
            width: 80%
    .home-page
        footer
            .container
                width: 90%
    .about-page
        main.main-content
            padding: 0