.nav
    height: 70px
    width: 100%
    z-index: 19
    &.nav-header
        position: fixed
        background: $white
        box-shadow: 4px 4px 4px rgba(0,0,0,.1)
    &.nav__sticky
        position: fixed
        top: 0
        box-shadow: 4px 4px 4px rgba(0,0,0,.1)
    .container
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center
        .logo
            img
                height: 50px
        .change-mode
            position: absolute
            right: 15%
            cursor: pointer
            color: $dark-icon
            .icon-dark
                color: $dark
        .burger
            font-size: 30px
            cursor: pointer
            &.close-menu
                position: absolute
                top: 20px
                right: 5%
                color: $white
        nav
            position: absolute
            background: $menu-bg
            left: 0
            top: 0
            width: 100%
            min-height: 100vh
            transform: translateX(-100%)
            transition: transform .35s ease-in-out
            display: flex
            justify-content: center
            align-items: center
            z-index: 20
            overflow-y: auto
            &.open
                transform: translateX(0)
            ul
                display: flex
                flex-direction: column
                align-items: center
                margin: 30px 0
                li
                    min-width: 200px
                    height: 50px
                    margin-left: -10px
                    margin-bottom: 2px
                    a
                        color: $white
                        background: $link-bg
                        height: 100%
                        width: 100%
                        font-size: 20px
                        letter-spacing: 2px
                        display: flex
                        justify-content: center
                        align-items: center
                        transition: .3s
                        box-shadow: 4px 7px 15px 12px rgba(0, 0, 0, .5)
                        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%)
                        &:hover
                            background: $menu-bg
                    &:nth-child(even)
                        margin-left: 10px
                        a
                            clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%)
                            

.navlink
    opacity: 0
    animation: navlink .3s ease-in .2s 1 forwards

// .navlink

@for $i from 1 through 5
    .navlink-#{$i}
        animation-delay: (.2s * $i)

@keyframes navlink
    0%
        opacity: 0
        transform: rotateZ(20deg) translateX(-40px)
    100%
        opacity: 1
        transform: rotateZ(0) translateX(0)