@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,100;1,200&family=Saira+Semi+Condensed:wght@200;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

body.no-scrolling {
  overflow: hidden;
}

body, html {
  scroll-behavior: smooth;
  position: relative;
  background: #1D2122;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none !important;
}

button {
  border: none;
  background: none;
}

.App {
  background: #ffffff;
  color: #000000;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.App.darkmode {
  background: #1D2122;
  color: #ffffff;
}

.btn-primary {
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  height: 40px;
  width: 150px;
  padding: 0 10px;
  text-transform: capitalize;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2E303A;
  color: #ffffff;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.btn-primary span {
  z-index: 2;
}

.btn-primary::before, .btn-primary::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.btn-primary::before {
  background: #3E4C51;
  top: 0;
  height: 100%;
  width: 30%;
  border-radius: 7px;
}

.btn-primary::after {
  background: #00A3E1;
  left: 10%;
  width: 80%;
  height: 3px;
  bottom: 7px;
}

.btn-primary:hover {
  border-radius: 0;
}

.btn-primary:hover::before {
  width: 100%;
  border-radius: 0;
}

.btn-primary:hover::after {
  left: 0;
  top: 0;
  bottom: 0;
  height: 3px;
  width: 40px;
  -webkit-transform: rotate(90deg) translate(20px, 19px);
          transform: rotate(90deg) translate(20px, 19px);
}

.container {
  width: 95%;
  margin: auto;
}

.social-media-container {
  position: fixed;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  left: 0;
  bottom: 0;
  min-height: 50vh;
  z-index: 18;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #191C1D;
}

.social-media-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-media-container ul li {
  margin: 10px 0;
}

.social-media-container ul li a {
  color: #ffffff;
  font-size: 14px;
}

.social-media-container ul li a:hover {
  color: #00A3E1;
}

.home-page footer {
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
}

.home-page footer .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps {
  font-family: 'Raleway', sans-serif;
}

.nav {
  height: 70px;
  width: 100%;
  z-index: 19;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.nav.nav-header {
  position: fixed;
  background: #ffffff;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.nav.nav__sticky {
  position: fixed;
  top: 0;
  background: #ffffff;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.nav .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .container .logo img {
  height: 50px;
}

.nav .container .change-mode {
  position: absolute;
  right: 15%;
  cursor: pointer;
  color: #F7A614;
}

.nav .container .burger {
  font-size: 30px;
  cursor: pointer;
}

.nav .container .burger.close-menu {
  position: absolute;
  top: 20px;
  right: 5%;
  color: #ffffff;
}

.nav .container nav {
  position: absolute;
  background: #021F2B;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .35s ease-in-out;
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  overflow-y: auto;
}

.nav .container nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.nav .container nav ul li {
  min-width: 200px;
  height: 50px;
  margin-left: -10px;
  margin-bottom: 2px;
}

.nav .container nav ul li a {
  color: #ffffff;
  background: #08303F;
  height: 100%;
  width: 100%;
  font-size: 20px;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 4px 7px 15px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 7px 15px 12px rgba(0, 0, 0, 0.5);
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
          clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.nav .container nav ul li a:hover {
  background: #021F2B;
}

.nav .container nav ul li:nth-child(even) {
  margin-left: 10px;
}

.nav .container nav ul li:nth-child(even) a {
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
          clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
}

.navlink {
  opacity: 0;
  -webkit-animation: navlink .3s ease-in .2s 1 forwards;
          animation: navlink .3s ease-in .2s 1 forwards;
}

.navlink-1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.navlink-2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.navlink-3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.navlink-4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.navlink-5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes navlink {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(20deg) translateX(-40px);
            transform: rotateZ(20deg) translateX(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateZ(0) translateX(0);
            transform: rotateZ(0) translateX(0);
  }
}

@keyframes navlink {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(20deg) translateX(-40px);
            transform: rotateZ(20deg) translateX(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateZ(0) translateX(0);
            transform: rotateZ(0) translateX(0);
  }
}

.banner {
  min-height: calc( 100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.banner .content {
  background: #191C1D;
  z-index: 5;
  position: absolute;
  top: calc( 50% - 25px);
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  min-height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.banner .content .container {
  height: 100%;
  width: 100%;
  padding: 30px 30px 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.banner .content .container h1 {
  font-size: 14px;
  font-weight: 100;
  margin-left: 30px;
  margin-bottom: -5px;
}

.banner .content .container h2 {
  font-size: 30px;
  margin-bottom: 30px;
  padding: 0 0 15px;
  position: relative;
}

.banner .content .container h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100px;
  background: #00A3E1;
}

.banner .content .container p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 28px;
  color: #C4C4C4;
}

.banner .hero-bg {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: calc( 100% - 50px);
}

.banner .hero-bg img {
  height: 100%;
}

.about-header .banner .content {
  position: relative;
  top: 50px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  min-height: 70%;
}

.about-header .banner .content .container {
  width: 90%;
  margin: auto;
  padding: 30px 0;
}

.about-header .banner .content .container p {
  font-size: 16px;
  line-height: 25px;
}

.services {
  margin-top: 50px;
  padding: 50px 0;
  text-align: center;
}

.App.darkmode .nav.nav-header {
  background: #191C1D;
}

.App.darkmode .nav.nav__sticky {
  background: #191C1D;
}
/*# sourceMappingURL=styles.css.map */