.App.darkmode
    .nav
        &.nav-header
            background: $darker
        &.nav__sticky
            background: $darker
    .services
        .showcase
            article
                span
                    .icon
                        color: $primary
                &::before
                    background: $dark
                &::after
                    background: $primary
                &:hover
                    box-shadow: 12px 12px 24px #0c0d0e, -12px -12px 24px #2e3536;
                    &::before
                        border: 1px solid #323738
    .hobbies
        background: $darker